@inherits LayoutComponentBase

<PageTitle>My portfolio</PageTitle>

<div class="page">
    <main>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>
  

    
    /* Add any additional styles for the layout here */
</style>

