@page "/counter"

<style>
    body, html {
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 100%;
    }

    .fancy-background {
        background-image: linear-gradient(to right, #5FBDFF, #96EFFF);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 24px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
</style>


<div class="fancy-background">
    
</div>

@code {
   
}
