@page "/Experience"

    <div class="box">
        <div class="leftBox">
        <h1 class="erfaring">Erfaring:</h1>
        <p class="info">Rema 1000 i et år</p>
        <p class="info">2 ugers praktik hos CloudFactory</p>
        </div>
        <div class="rightBox">

        </div>
    </div>

<style>
    .box{
        display:flex;
    }
    .leftBox{
        
        flex-direction: column;
        width: 45%;
        height: 726px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
    .rightBox{
      
        flex-direction: column;
        width: 45%;
        height: 726px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }

    .erfaring{
        color: white;
        font-size: 50px;
    }
    .info{
        color: white;
        font-size: 20px;
        font-family: Roboto mono;
    }
</style>

@code {

}
