@page "/index"


<body style="margin: 0"/>
<div class="body">

    <div class="box">
    <div class="InfoBox" float: left>
        <h1 class="Navn">Mit navn er Silas</h1>
        <p class="underTitle">Jeg har interesse i programmering</p>
      
         <a href="AboutMe/"><button class="AboutMe" >About Me</button></a>
    </div>
    <div class="GenreBox">
        <div>
            <img class="silas" src="Images/sil.jpg" alt="Silas Image" />
            
        </div>
    </div>


    </div>

    </div>

<style>
    .Navn{
        display: flex;
       font-size:50px;
       
        margin-top:20%;
        
    }
    .underTitle{
        font-size:30px;

    }
    .AboutMe{
       border-radius: 20px;
       background-color:royalblue;
       height:40px;
       width: 100px;
       margin-top: 5px;
       margin-left: 10px;
      
    }

    .box {
        display: flex;
    }
    .InfoBox{
        flex-direction: column;
        width: 45%;
        height: 726px;
        border-radius: 36px;
       
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
    .GenreBox{
        display: flex;
        width: 50%;
        height: 726px;
        flex-shrink: 0;
        border-radius: 36px;
       
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .silas{
        margin-top: 50px;
        margin-left: 40px;
        height: 500px;
        width: 500px;
    }
    .body{
        
        height: 100vh;
       
        justify-content: center;
        align-items: center;
        color: #ffffff;
        
    }
    
</style>