@page "/Uddannelse"

<div class="box">
    <div class="leftBox">
        <h1 class=" title">Uddannelser</h1>
        <p class="info">•	Campus Varde 10. klasse </p>
        <p class="info">•	Skjern teknisk skole GF1</p>
        <p class="info">•	GF2 Data og kommunikation </p>
        <p class="info">•	Har været på Data og kommunikation programmørlinjen på Herningsholm Erhvervsskole</p>
        <p class="info">•	Er på Data og kommunikation programmørlinjen på Mercantec i Viborg</p>
    </div>
    <div class="rightBox">
        <img class="blue" src="Images/books1.png" alt="Silas Image" />
    </div>
</div>

<style>
    .box {
        display: flex;
    }

    .leftBox {
       
        flex-direction: column;
        width: 45%;
        height: 726px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }

    .rightBox {
        
        flex-direction: column;
        width: 45%;
        height: 726px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
    .title{
        color: white;
    }
    .info{
        color: white;
        font-size: 20px;
        font-family: Roboto mono;
    }
    .blue{
        
        height: 500px;
        width: 500px;
    }
</style>

@code {

}
