.page[b-xpofsryq5w] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xpofsryq5w] {
    flex: 1;
}

.sidebar[b-xpofsryq5w] {
    /* background-image: linear-gradient(to right,#002d62, #00e6ee);*/
}

.top-row[b-xpofsryq5w] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xpofsryq5w]  a, .top-row .btn-link[b-xpofsryq5w] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xpofsryq5w] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xpofsryq5w] {
        display: none;
    }

    .top-row.auth[b-xpofsryq5w] {
        justify-content: space-between;
    }

    .top-row a[b-xpofsryq5w], .top-row .btn-link[b-xpofsryq5w] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xpofsryq5w] {
        flex-direction: row;
    }

    .sidebar[b-xpofsryq5w] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xpofsryq5w] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-xpofsryq5w], article[b-xpofsryq5w] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    .page[b-xpofsryq5w] {
        background: linear-gradient(#1a1a1a, #3f51b5, #ff4081); /* Example colors: green to blue */
        background-size: 500% 500%;
        animation: gradientAnimation-b-xpofsryq5w 10s ease infinite;
        color: #fff;
        font-family: Arial, sans-serif;
    }

    @keyframes gradientAnimation-b-xpofsryq5w {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
   
}
